<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>영화GG</h1>
  <form method="post" th:action="@{/searchBySummonerName}">
    <input type="text" name="summonerName" placeholder="소환사의 이름을 입력하세요.">
  </form>

  <div>
      <p th:text="|아이디 : ${user.summonerName}|"></p>
      <p th:text="|레벨 : ${user.summonerLevel}|"></p>
      <p th:text="|등급 : ${user.tier} ${user.rank}|"></p>
      <p th:text="|승/패 : ${user.wins}승 ${user.losses}패|"></p>

      <img th:src="@{|/images/RankedEmblem/${rankedEmblem}|}" alt="Ranked Emblem">
  </div>

</body>
</html>