<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>영화GG</h1>

  <!--검색창-->
  <form  th:action="@{/searchBySummonerName}" method="post">
      <label for="summonerName">소환사 이름 : </label>
      <input type="text" id="summonerName" name="summonerName" placeholder="소환사의 이름을 입력하세요." required>
      <button type="submit">검색</button>
  </form>

  <div>
      <img th:src="@{${profileIconUrl}}" alt="profileIconUrl">
      <p th:text="|아이디 : ${user.summonerName}|"></p>
      <p th:text="|레벨 : ${user.summonerLevel}|"></p>
      <p th:text="|등급 : ${user.tier} ${user.rank}|"></p>
      <p th:text="|승/패 : ${user.wins}승 ${user.losses}패|"></p>
      <img th:src="@{|/images/RankedEmblem/${rankedEmblem}|}" alt="ranked Emblem">
  </div>
<div>
    <table>
        <thead>
            <tr>
                <th>승</th>
                <th>챔피언</th>
                <th>K/D/A</th>
                <th>S/R</th>
                <th>팀</th>
                <th>아이템</th>
                <th>LV/G/CS</th>
                <th>플레이</th>
                <th>와드</th>
                <th>상세 정보</th>
            </tr>
        </thead>
    <tbody>
    <tr th:each="matchDto: ${matchDtos}">
    <th:block th:each="participant:${matchDto.info.participants}" th:if="${participant.summonerName == user.summonerName}">
            <!-- 승/패 여부 결정 -->
            <td th:text="${participant.win ? '승':'패'}"></td>
            <!-- 본인의 아이디 기준 챔피언 이름, KDA, 킬 관여 등 정보 표시 -->
            <td><img th:src="${championImagesUrlByChampionNames[participant.championName]}" alt="championImage"></td>
            <td th:text="|${participant.kills}/${participant.deaths}/${participant.assists}|"></td>
            <td><img th:src="${spellUrlBySpellKey[participant.summoner1Id]}" alt="spellImage1">
                <img th:src="${spellUrlBySpellKey[participant.summoner2Id]}" alt="spellImage2"></td>
            <td>
                <ul>
                    <li><img  th:src="${itemImagesUrlByMatchDtos[participant.item6]}"></li> <!--와드 또는 렌즈-->
                    <li><img  th:src="${itemImagesUrlByMatchDtos[participant.item0]}"></li>
                    <li><img  th:src="${itemImagesUrlByMatchDtos[participant.item1]}"></li>
                    <li><img  th:src="${itemImagesUrlByMatchDtos[participant.item2]}"></li>
                    <li><img  th:src="${itemImagesUrlByMatchDtos[participant.item3]}"></li>
                    <li><img  th:src="${itemImagesUrlByMatchDtos[participant.item4]}"></li>
                    <li><img  th:src="${itemImagesUrlByMatchDtos[participant.item5]}"></li>
                </ul>
            </td>
            <td th:text="|${participant.champLevel}/${participant.goldEarned}/${participant.totalMinionsKilled}|"></td>
            <td th:text="|와드 설치:${participant.wardsPlaced} // 제거:${participant.wardsKilled}|"></td>
            <td><a href="@{|/matchDetails/${matchDto.gameId}|}">상세 정보</a> </td>
    </th:block>
    </tr>
    </tbody>
    </table>
</div>

</body>
</html>